<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>  
    <add key="PageToken" value="EAAupM1mVJswBACtXn3N1aazKcx7Rj3pTxJmfBshQmxrdfdShpPljm6Thmli82fWKz4PPWqVYzZAcRPXNwrAd0lUg5PZB5CQ0lmBkj0wZCLZAtfZCEdV3KGBKdocb0uZA6iJzii3zXj7bk1RRyecysaDBVV5NnMyXmnVE8Dd5q7kMe0VhZAW16YD" />
    <add key="GroupID" value="773244E4622BCA729B17926B3E2C7966" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>